<!DOCTYPE html>
<html lang="en" class="bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/carousel.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/css/output.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <title>Beckett Ridge Family Medicine</title>
    <style>
      .banner-animation {
        animation: 20s infinite slide;
      }
      @keyframes slide {
        0% {
          background-image: url(/static/images/banner3.jpg);
          /* opacity: 0; */
        }
        22% {
          background-image: url(/static/images/banner3.jpg);
        }
        28% {
          background-image: url(/static/images/banner4.jpg);
        }
        72% {
          background-image: url(/static/images/banner4.jpg);
        }
        78% {
          background-image: url(/static/images/banner3.jpg);
        }
        100% {
          background-image: url(/static/images/banner3.jpg);
        }
      }
    </style>
    <script src="/static/js/index-pre-load.js"></script>
  </head>
  <body class="relative">
    {{ template "components/navbar.html" . }}
    <main class="mt-24">
      <section
        class="w-full h-[calc(100vh-5rem)] bg-cover bg-center relative flex flex-col items-center justify-center banner-animation"
      >
        <div class="flex flex-col gap-10 relative text-center rounded-lg p-6">
          <div
            class="absolute left-0 top-0 bottom-0 right-0 bg-offwhite opacity-70 rounded-lg"
          ></div>

          <div class="relative flex flex-col items-center gap-6">
            <div class="border-l-8 border-primary pl-8 flex flex-col gap-6">
              <h1 class="text-5xl text-primary font-bold">
                Beckett Ridge Family Medicine
              </h1>
              <h2 class="text-4xl text-secondary font-bold">Primary Care</h2>
            </div>
            <a
              href="/request-appointment"
              class="bg-primary rounded px-6 py-4 text-center text-white max-w-72 w-full hover:bg-secondary transition-all"
            >
              Request Appointment
            </a>
          </div>
        </div>
      </section>
      <section
        class="px-6 sm:px-12 md:px-16 lg:px-32 flex flex-col items-center py-20 gap-20"
      >
        <div class="max-w-[32rem] flex flex-col gap-14">
          <h2 class="text-primary text-5xl font-semibold text-center">
            Don't Use Medicine As a Permanent Bandaid.
          </h2>
          <p class="text-center text-lg">
            Using medicine as a bandaid without exploring underlying issues to
            prevent and treat illness long term is wrong. See your West Chester
            and Becket Ridge family doctor today.
          </p>
          <div class="flex flex-row gap-6">
            <button
              class="bg-primary rounded px-6 py-4 text-center text-white max-w-72 w-full hover:bg-secondary transition-all"
            >
              Request Appointment
            </button>
            <a
              href="/static/pdfs/Patient-Registration-Forms.pdf"
              target="_blank"
              rel="nofollow"
              download
              class="border-2 border-primary text-primary rounded px-6 py-4 text-center max-w-72 w-full-cotransition-colors hover:bg-primary hover:text-white transition-all"
            >
              Patient Registration Form
            </a>
          </div>
        </div>
        <hr class="w-[80%] h-1 bg-primary border-none rounded-full" />
        <div class="flex flex-col items-center gap-6">
          <svg
            fill="currentColor"
            viewBox="0 0 24 34"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="w-32 h-32 text-secondary"
          >
            <path
              d="M9.563 8.469l-0.813-1.25c-5.625 3.781-8.75 8.375-8.75 12.156 0 3.656 2.688 5.375 4.969 5.375 2.875 0 4.906-2.438 4.906-5 0-2.156-1.375-4-3.219-4.688-0.531-0.188-1.031-0.344-1.031-1.25 0-1.156 0.844-2.875 3.938-5.344zM21.969 8.469l-0.813-1.25c-5.563 3.781-8.75 8.375-8.75 12.156 0 3.656 2.75 5.375 5.031 5.375 2.906 0 4.969-2.438 4.969-5 0-2.156-1.406-4-3.313-4.688-0.531-0.188-1-0.344-1-1.25 0-1.156 0.875-2.875 3.875-5.344z"
            ></path>
          </svg>
          <p class="text-center font-thin text-lg leading-10">
            “My doctor has treated my chronic illnesses and other issues for me
            in the most caring and knowledgeable way. They get to know you and
            are willing to look at natural remedies before starting medications.
            Instead of just prescribing me certain meds which would cost me $
            and dump $ into the greedy pharmaceutical monster industry, I was
            advised a less intense and harmful approach and continue to be
            monitored! The schedule availability is amazing too.”
          </p>
          <span
            class="text-center space-x-10 mt-6 text-xl font-thin tracking-widest"
            >- Sydney</span
          >
        </div>
      </section>
      <section
        class="px-6 sm:px-12 md:px-16 lg:px-32 bg-secondary flex flex-col py-20"
      >
        <h1 class="text-4xl text-white text-center">
          Health is Not Just Absence of Disease But Is Living With Vitality
        </h1>
        <div class="flex gap-6 mt-14 justify-center items-stretch flex-wrap">
          {{range .CardFacts}}
          <div class="flex-1 min-w-72">
            {{template "components/fact_card.html" .}}
          </div>
          {{end}}
        </div>
      </section>
      <section class="px-6 sm:px-12 md:px-16 lg:px-32 flex flex-col py-20">
        <h1 class="text-4xl text-center">
          Control Your Health. Visit Your Family Practice.
        </h1>
        <div class="flex gap-6 mt-14 justify-center items-stretch flex-wrap">
          {{range .TabFacts}}
          <div class="flex-1 max-w-96 min-w-64">
            {{template "components/fact_tab.html" .}}
          </div>
          {{end}}
        </div>
      </section>
      <section class="px-6 pb-20 sm:px-12 md:px-16 lg:px-32">
        <div class="grid place-items-center">
          <div class="w-full mx-auto rounded border">
            <div class="bg-white p-10 shadow-sm flex flex-col gap-4">
              <h3 class="text-2xl">Frequently Asked Questions</h3>
              <div class="h-1 w-full mx-auto border-b my-3"></div>

              <!-- What is term -->
              <div
                class="transition-colors hover:bg-primary hover:text-white border border-dark rounded-lg"
              >
                <!-- header -->
                <div
                  class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center p-4 justify-between"
                >
                  <h3>What are our hours?</h3>
                  <div class="size-6 flex-none">
                    {{template "components/chevron_down_icon.html"}}
                  </div>
                </div>
                <!-- Content -->
                <div
                  class="accordion-content px-5 pt-0 overflow-hidden max-h-0"
                >
                  <p class="leading-6 font-light sm:pl-9 pb-5">
                    Our regular clinic hours are 8AM-5PM, Monday through Friday.
                    Although the providers do not see patients between 12pm-1pm,
                    our office is open during that time.
                  </p>
                </div>
              </div>

              <!-- When to use Accordion Components -->
              <div
                class="transition-colors hover:bg-primary hover:text-white border border-dark rounded-lg"
              >
                <!-- header -->
                <div
                  class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center p-4 justify-between"
                >
                  <h3>Do you take new patients?</h3>
                  <div class="size-6 flex-none">
                    {{template "components/chevron_down_icon.html"}}
                  </div>
                </div>
                <!-- Content -->
                <div
                  class="accordion-content px-5 pt-0 overflow-hidden max-h-0"
                >
                  <p class="leading-6 font-light sm:pl-9 pb-5">
                    Yes! Please call our front desk and introduce yourself and
                    let them know.
                  </p>
                </div>
              </div>

              <!-- Accordion Wrapper -->
              <div
                class="transition-colors hover:bg-primary hover:text-white border border-dark rounded-lg"
              >
                <!-- header -->
                <div
                  class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center p-4 justify-between"
                >
                  <h3>What can I do if I am ill?</h3>
                  <div class="size-6 flex-none">
                    {{template "components/chevron_down_icon.html"}}
                  </div>
                </div>
                <!-- Content -->
                <div
                  class="accordion-content px-5 pt-0 overflow-hidden max-h-0"
                >
                  <p class="leading-6 font-light sm:pl-9 pb-5">
                    If you are feeling ill, we ask that you call our office
                    during regular office hours, (Monday-Friday 8AM to 5PM) and
                    speak to our front office staff, who will instruct you on
                    your options of care. Depending on your symptoms, you may be
                    offered an appointment, or if symptoms are serious in
                    nature, it may be recommended that you go to the Emergency
                    Room. BRFM is prepared to meet your unexpected medical needs
                    even when your preferred provider is not available. If you
                    have a non-life-threatening illness that needs immediate
                    attention, another one of our providers will be happy to see
                    you for a same-day appointment. We ask that you always
                    contact our office when possible before going to the
                    emergency room. We have a provider that is on-call 24 hours
                    a day, 7 days a week to answer your emergency calls.
                    Emergency Room visits can often times be avoided by speaking
                    with one of our providers first. If you or someone under
                    your care is experiencing a life-threatening emergency, call
                    911. Please obtain a copy of all tests taken and contact
                    your physician as soon as possible after an emergency room
                    visit to determine the best course of treatment.
                  </p>
                </div>
              </div>

              <!-- Accordion Wrapper -->
              <div
                class="transition-colors hover:bg-primary hover:text-white border border-dark rounded-lg"
              >
                <!-- header -->
                <div
                  class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center p-4 justify-between"
                >
                  <h3>
                    I received a bill and have questions about it. Who can I
                    call for assistance?
                  </h3>

                  <div class="size-6 flex-none">
                    {{template "components/chevron_down_icon.html"}}
                  </div>
                </div>
                <!-- Content -->
                <div
                  class="accordion-content px-5 pt-0 overflow-hidden max-h-0"
                >
                  <p class="leading-6 font-light sm:pl-9 pb-5">
                    Tammy is no longer with us and we now outsource our billing.
                    If patients have a question about their bill they can call
                    877-704-4159
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <style>
          .accordion-content {
            transition: max-height 0.3s ease-out, padding 0.3s ease;
          }
        </style>

        <script>
          const accordionHeader =
            document.querySelectorAll(".accordion-header");
          accordionHeader.forEach((header) => {
            header.addEventListener("click", function () {
              const accordionContent =
                header.parentElement.querySelector(".accordion-content");
              let accordionMaxHeight = accordionContent.style.maxHeight;

              // Condition handling
              if (
                accordionMaxHeight == "0px" ||
                accordionMaxHeight.length == 0
              ) {
                accordionContent.style.maxHeight = `${
                  accordionContent.scrollHeight + 32
                }px`;
                header.parentElement.classList.add("bg-primary", "text-white");
              } else {
                accordionContent.style.maxHeight = `0px`;
                header.parentElement.classList.remove(
                  "bg-primary",
                  "text-white"
                );
              }
            });
          });
        </script>
      </section>
      <section class="px-6 pb-20 sm:px-12 md:px-16 lg:px-32">
        <h1 class="text-4xl text-primary text-center mb-6">
          Health is Not Just Absence of Disease But Is Living With Vitality
        </h1>
        <h2 class="text-center mb-20">
          Beckett Ridge Family Medicine provides a full range of primary care
          services ranging anywhere from acute care to preventative care, as
          well as chronic disease management. We see patients of all ages
          including newborns. The following list Is a sample of services we
          provide:
        </h2>
        <div class="flex flex-row justify-center items-center gap-10 flex-wrap">
          {{range $i, $a := .Articles}}
          <div
            class="w-min rounded-xl {{if isEven $i }} bg-primary {{else}} bg-secondary {{end}}"
          >
            {{template "components/article_teaser.html" $a}}
          </div>
          {{end}}
        </div>
      </section>
      <section class="bg-secondary text-white">
        <div
          class="px-6 py-20 sm:px-12 md:px-16 lg:px-32 flex flex-col lg:flex-row items-center justify-center lg:justify-between"
        >
          <div class="text-center">
            <h3 class="text-lg">Client Feedback</h3>
            <h1 class="text-4xl mb-6">What our patients say</h1>
          </div>

          <div class="carousel rounded-box max-w-[35rem] w-full gap-8">
            <div class="carousel-item w-full">
              <div class="bg-offwhite rounded-2xl p-10 text-dark flex flex-col">
                <p>
                  I have been seen and treated very well by Dr. Diatte, as well
                  as the family nurse practitioners Kim and Taylor. The office
                  is very clean, has a children's game thing on the wall for
                  those that need it, and the wait is always short. On the
                  occasions I've needed to be seen urgently for illness as
                  opposed to checkups/maintenance, I have never been told that
                  they couldn't fit me into their schedule. I see that they are
                  progressively inclusive of diversity, providing both
                  opportunities for employment and a safe environment for
                  patients. I am a picky registered nurse and patient and wont
                  hesitate to fire a doctor that doesn't make the grade. The
                  providers I've seen in this office all receive an A+!
                </p>
                <br />
                <span class="text-right w-full">Tony</span>
              </div>
            </div>
            <div class="carousel-item w-full">
              <div class="bg-offwhite rounded-2xl p-10 text-dark flex flex-col">
                <p>
                  Messaged Beckett Ridge Family Medicine at 3:00 AM Thursday
                  because I was up all night with worrisome, flu-like symptoms.
                  By 8:30 that morning, I was scheduled for an appointment. When
                  I arrived, I checked in from my car and described my symptoms
                  to the nurse over the phone. Within 3 minutes, I was ushered
                  into the office through a separate entrance and met by Dr.
                  Diatte. Everyone in the office was friendly, upbeat, and in
                  PPE. They were obviously concerned for my well-being. The
                  doctor's exam was thorough and methodical. He covered every
                  possible diagnosis and explained in detail his thought
                  process. By 1:00 PM I had been tested for and received the
                  results of strep, pneumonia (x-ray complete), flu, and
                  COVID-19 tests. The pharmacy had my meds ready by the time I
                  had left the x-ray facility. Absolutely phenomenal service in
                  every way, and it's been that way for the last 28 years.
                  Thanks to everyone at Beckett Ridge Family Medicine for your
                  care and professionalism!
                </p>
                <br />
                <span class="text-right w-full">Bob</span>
              </div>
            </div>
            <div class="carousel-item w-full">
              <div class="bg-offwhite rounded-2xl p-10 text-dark flex flex-col">
                <p>
                  I have been a patient for almost 25 years. The staff from the
                  front desk to the nurses, Nurse Practitioners and Doctors have
                  been courteous, caring and extraordinary in every way. The
                  technology tools they regularly improve provide valuable
                  access to make appointments, review test results, etc. I can't
                  imagine going to another practice for my medical care.
                </p>
                <br />
                <span class="text-right w-full">Bryson</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="fixed bottom-10 right-10 sm:hidden z-[5] h-20 w-20">
        {{template "components/mobile_phone_button.html"}}
      </div>
    </main>
    {{template "components/footer.html"}}
  </body>
  <script src="/static/js/index-post-load.js"></script>
  <script>
    let slideIndex = 0;
    setTimeout(showSlides, 2000);

    let stopCarousel = false;
    const carouselEl = document.querySelector(".carousel");
    carouselEl.addEventListener("mouseenter", () => {
      stopCarousel = true;
    });
    carouselEl.addEventListener("mouseleave", () => {
      stopCarousel = false;
    });

    async function showSlides() {
      const { width } = carouselEl.getBoundingClientRect();
      if (stopCarousel) {
        return await setTimeout(showSlides, 8000);
      }
      let i;
      let slides = document.getElementsByClassName("carousel-item");
      for (let i = 0; i < 2; i++) {
        slides[i].classList.add("transition-all", "duration-[2s]");
        slides[i].style.transform = `translateX(-${width + 32}px)`;
      }
      await setTimeout(() => {
        slides[slides.length - 1].after(slides[0]);
        for (let i = 0; i < 2; i++) {
          slides[i].classList.remove("transition-all", "duration-[2s]");
          slides[i].style.transform = ``;
        }
      }, 4000);
      if (!stopCarousel) {
        await setTimeout(showSlides, 8000); // Change image every 2 seconds
      }
    }
  </script>
</html>
