<!DOCTYPE html>
<html lang="en" class="bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Understand the steps to become a new Beckett Ridge Family Medicine patient."
    />
    <title>Become a New Patient - Beckett Ridge Family Medicine</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/static/css/output.css" />
    <script src="/static/js/index-pre-load.js"></script>
  </head>
  <body class="relative">
    {{ template "components/navbar.html" . }}
    <main class="mt-24 flex flex-col gap-10">
      <div>
        <div
          style="background-image: url('/static/images/medical-papers.png')"
          class="relative w-full bg-dark min-h-96 rounded-b-lg text-center text-4xl text-white tracking-widest flex items-center justify-center bg-cover bg-center"
        >
          <div
            class="absolute bottom-0 top-0 left-0 right-0 opacity-75 bg-dark"
          ></div>
          <h1 class="z-10">Steps to Register as a Patient</h1>
        </div>
      </div>
      <section
        class="px-6 sm:px-12 md:px-16 lg:px-24 flex flex-col items-center py-16 gap-20"
      >
        <ul class="max-w-[80%] flex flex-col gap-14">
          <li class="grid md:grid-cols-7 grid-cols-1 gap-10">
            <div class="col-span-1 md:col-span-2 flex justify-center h-min">
              <div
                class="rounded-full bg-dark text-white px-10 py-3 max-w-64 text-center text-lg w-max whitespace-nowrap"
              >
                Step 1
              </div>
            </div>
            <div
              class="col-span-1 md:col-span-5 text-center md:text-start flex justify-center items-center flex-col"
            >
              <h2 class="text-3xl w-full">Verify Health Insurance</h2>
              <hr class="my-3" />
              <p>
                We understand that checking if your health insurance covers our
                medical practice can be challenging. To make it easier for you,
                our team is here to help. You can simply give us a call at
                <a href="tel:5138604600" class="text-primary">(513) 860-4600</a
                >, and one of our employees will gladly assist in looking up
                your coverage details. Alternatively, you can check directly
                with your insurance provider to confirm whether our services are
                included in your plan. We're committed to ensuring a smooth and
                stress-free experience for you.
              </p>
            </div>
          </li>
          <li class="grid md:grid-cols-7 grid-cols-1 gap-10">
            <div class="col-span-1 md:col-span-2 flex justify-center h-min">
              <div
                class="rounded-full bg-dark text-white px-10 py-3 max-w-64 text-center text-lg w-max whitespace-nowrap"
              >
                Step 2
              </div>
            </div>
            <div
              class="col-span-1 md:col-span-5 text-center md:text-start flex justify-center items-center flex-col"
            >
              <h2 class="text-3xl w-full">Schedule an Appointment</h2>
              <hr class="my-3" />
              <p>
                We understand that scheduling an appointment can feel like a
                daunting task, which is why we prefer to do it over the phone to
                add a personal touch. Our goal is to ensure that every detail is
                taken care of and that you feel valued throughout the process.
                To schedule your appointment, please give us a call at
                <a href="tel:5138604600" class="text-primary">(513) 860-4600</a
                >. One of our friendly staff members will be more than happy to
                assist you, answer any questions, and make sure your appointment
                is set up just the way you need. We believe that this human
                connection guarantees a more satisfying experience.
              </p>
            </div>
          </li>
          <li class="grid md:grid-cols-7 grid-cols-1 gap-10">
            <div class="col-span-1 md:col-span-2 flex justify-center h-min">
              <div
                class="rounded-full bg-dark text-white px-10 py-3 max-w-64 text-center text-lg w-max whitespace-nowrap"
              >
                Step 3
              </div>
            </div>
            <div
              class="col-span-1 md:col-span-5 text-center md:text-start flex justify-center items-center flex-col"
            >
              <h2 class="text-3xl w-full">Complete the Registration Form</h2>
              <hr class="my-3" />
              <p>
                As a new patient, please make sure to complete the registration
                form before your appointment. You can download the form by
                clicking
                <a
                  href="/static/pdfs/Patient-Registration-Forms.pdf"
                  class="text-primary"
                  download
                  >New Patient Registration Form</a
                >. Once completed, bring the form with you when you arrive. This
                helps us prepare for your visit and ensures a more efficient and
                seamless experience. We appreciate your cooperation and look
                forward to serving you!
              </p>
            </div>
          </li>
          <li class="grid md:grid-cols-7 grid-cols-1 gap-10">
            <div class="col-span-1 md:col-span-2 flex justify-center h-min">
              <div
                class="rounded-full bg-dark text-white px-10 py-3 max-w-64 text-center text-lg w-max whitespace-nowrap"
              >
                Step 4
              </div>
            </div>
            <div
              class="col-span-1 md:col-span-5 text-center md:text-start flex justify-center items-center flex-col"
            >
              <h2 class="text-3xl w-full">Arrive 15 minutes early</h2>
              <hr class="my-3" />
              <p>
                We kindly ask that you arrive 15 minutes early for your
                appointment to ensure that all necessary paperwork is completed
                and to give you ample time to settle in. Please make your way to
                our office located at
                <a
                  class="font-bold text-primary"
                  target="_blank"
                  href="https://www.google.com/maps/place/4870+Wunnenberg+Way,+West+Chester+Township,+OH+45069/data=!4m2!3m1!1s0x88404f8d4a0bce1f:0xb9025764458caa6b?sa=X&ved=1t:242&ictx=111"
                  >4870 Wunnenberg Way, West Chester Township, OH 45069</a
                >. Our team is dedicated to providing a smooth and welcoming
                experience from the moment you walk through our doors. We look
                forward to seeing you!
              </p>
            </div>
          </li>
        </ul>
      </section>

      <div class="fixed bottom-10 right-10 sm:hidden z-[5] h-20 w-20">
        {{template "components/mobile_phone_button.html"}}
      </div>
      {{template "components/footer.html"}}
    </main>
  </body>
  <script src="/static/js/index-post-load.js"></script>
</html>
