<!DOCTYPE html>
<html lang="en" class="bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/output.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <title>Privacy Policy - Beckett Ridge Family Medicine</title>
    <script src="/static/js/index-pre-load.js"></script>
  </head>
  <body class="relative">
    {{ template "components/navbar.html" . }}
    <main class="mt-24">
      <div
        style="background-image: url('/static/images/doc-and-kid.jpeg')"
        class="relative w-full bg-dark min-h-72 rounded-b-lg text-center text-4xl text-white tracking-widest flex items-center justify-center bg-cover bg-center"
      >
        <div
          class="absolute bottom-0 top-0 left-0 right-0 opacity-75 bg-dark"
        ></div>
        <h1 class="z-10">Privacy Policy</h1>
      </div>
      <section class="py-10 px-6 md:px-12 lg:px-24">
        <h6 class="font-bold my-5 text-lg">
          NOTICE OF PRIVACY PRACTICES FOR BECKETT RIDGE FAMILY MEDICINE.
        </h6>
        <p>
          This notice describes information practices for employees and business
          contacts of Beckett Ridge Family Medicine. It also pertains to any
          students, medical, physician assistant, nursing, medical assistant, or
          any other student training or shadowing at any of our offices, billing
          facilities, or laboratory. All of these individuals will be required
          to follow the terms of this notice. These entities will share medical
          and other information with each other, and with outside agencies, for
          treatment, payment or as needed to perform other operations.
        </p>
        <br />
        <p>
          We at the Beckett Ridge Family Medicine realize that the information
          that is gathered about you and your family during an encounter with
          one of our staff is provided in confidence, and we are committed to
          keeping that confidence. This notice applies to any information that
          we have about you regardless of how it is stored or from whom it is
          received. If you see other medical personnel or use hospitals they may
          have other practices or policies about how your protected information
          is handled.
        </p>
        <br />
        <p>
          This notice will tell you about the ways that Beckett Ridge Family
          Medicine may use and disclose medical information about you. It will
          tell you about your rights and some requirements that we have
          regarding the use and disclosure of this information. We are required
          by law to provide you with this notice of our policies regarding your
          individually identifiable health information.
        </p>
        <br />
        <p>
          You DO NOT have to agree with the practices and may request
          limitations on the use and disclosure of your medical information.
        </p>
        <br />
        <p>
          We are required by law to make sure that any medical information that
          identifies you is kept private, to provide you with this notice about
          our privacy practices, and to abide by the terms of the agreement that
          is currently in effect.
        </p>
        <br />
        <h6 class="font-bold my-5 text-lg">
          HOW WE MAY USE AND DISCLOSE INFORMATION ABOUT YOU
        </h6>
        <p>
          There are a number of situations where we may use or disclose to other
          persons or entities your confidential medical information. Your
          confidential medical information is defined under federal law as
          “protected health information” (“PHI”). When Beckett Ridge Family
          Medicine retains your confidential medical information on its computer
          system, it is called “electronic protected health information”
          (“ePHI”). This Notice applies to all PHI and ePHI related to your care
          that Beckett Ridge Family Medicine has created or received. It also
          applies to any personal or general information Beckett Ridge Family
          Medicine receives from patients, including information contained on
          driver's licenses. Certain uses and disclosures will require you to
          sign an Acknowledgement that you received our Notice of Privacy
          Practices, including treatment, payment and health care procedures.
          Any use or disclosure of your protected health information required
          for anything other than treatment, payment or health care procedures
          requires you to sign an Authorization. Certain disclosures required by
          law or under emergency circumstances may be made without your
          Acknowledgement or Authorization. Under any circumstance, we will use
          or disclose only the minimum amount of information necessary from your
          medical records to accomplish the intended purpose of the disclosure.
          We will attempt in good faith to obtain your signed Acknowledgement
          that you received this Notice to use and disclose your confidential
          medical information.
        </p>
        <br />
        <p>
          This section will tell you what ways your medical information will be
          used. There will be other ways in which your information is used and
          these examples are not meant to restrict how your information is used
          and not all information will be used for every purpose.
        </p>
        <br />
        <p>
          <strong>For Treatment:</strong>
          This is generally the reason you made your appointment with this
          office. We will use information that we gather to provide you with
          medical treatment and services. We will gather information regarding
          the nature of the visit when you call to make your appointment then
          ask for more information as you are preparing to see our Doctors, or
          Nurse Practitioners. The provider will gather more information during
          your encounter and may discuss this with a staff member to determine
          the correct course of treatment for you. For example, if you call with
          a laceration the operator may ask information regarding the severity
          and location of the injury. The office staff may ask about your
          immunization status or other illnesses that can affect your ability to
          heal or put you at risk for infection. You may have an x-ray to
          determine if there is any foreign material in the wound. The provider
          will ask about how the injury occurred and other information about the
          injury to determine if there may be other damage not immediately
          visible. If this injury occurred at work we will share information
          with your workers compensation insurance company.
        </p>
        <br />
        <p>
          <strong>For Payment:</strong>
          We may use and disclose medical information about you so that we can
          receive payment for treatment and services we provide to you. If you
          ask us to bill your insurance for services we will need to identify
          you and the services provided to do that. We may need to give your
          health plan information about you and your medical status to receive
          preauthorization for services planned.
        </p>
        <br />
        <p>
          <strong>For Health Care Operations:</strong>
          We may use and disclose information about you for practice operations.
          The use of this information helps us remain efficient and provide
          quality care. Information regarding your illnesses may be used to
          assure that our patients are receiving up to date care in line with
          guidelines from health plans or national organizations. Information
          may also be used to evaluate our staff's performance.
        </p>
        <br />
        <p>
          <strong>Appointment Reminders:</strong>
          We may use and disclose information to remind you about upcoming
          appointments for treatment or services at our office.
        </p>
        <br />
        <p>
          <strong>Treatment Alternatives:</strong>
          We may use and disclose information to tell you about alternative
          treatments available for you.
        </p>
        <br />
        <p>
          <strong>Individuals Involved in Your Care:</strong>
          We may release information about you to family members involved in
          caring for you or, in the event of a disaster, relief agencies
          providing services to you.
        </p>
        <br />
        <p>
          <strong>As Required by Law:</strong>
          We will disclose information about you when required to do so by
          federal, state, or local law.
        </p>
        <br />
        <p>
          <strong>To Avoid Serious Threat to Health and Safety:</strong>
          We may use and disclose information about you when necessary to
          prevent a serious threat to you or to the health and safety of the
          public.
        </p>
        <br />
        <p>
          <strong>Worker's Compensation:</strong>
          We may release information about you for worker's compensation or
          similar programs that provide benefits for work related injuries or
          illnesses.
        </p>
        <br />
        <p>
          <strong>Public Health Risks:</strong>
          We may disclose information about you for public health activities.
        </p>
        <br />
        <p>To maintain vital records such as birth or death.</p>
        <br />
        <p>To prevent or control disease, injury, or disability</p>
        <br />
        <p>To report child abuse or neglect.</p>
        <br />
        <p>To report reactions to medication or problems with products.</p>
        <br />
        <p>To notify people of recalls of products they may be using.</p>
        <br />
        <p>
          To notify patients who may have been exposed to a disease or may be at
          risk for contracting or spreading a disease or condition.
        </p>
        <br />
        <p>
          To notify the appropriate government authority if we believe a patient
          has been the victim of abuse, neglect, or domestic violence as
          provided for by Pennsylvania law.
        </p>
        <br />
        <p>
          <strong>Health Oversight Activities:</strong>
          We may disclose information about you to a health oversight agency for
          activities such as audits, investigations, inspections, and licensure.
          These activities are necessary for the government to monitor programs
          and compliance with civil rights laws.
        </p>
        <br />
        <p>
          <strong>Lawsuits and Disputes:</strong>
          If you are involved in a lawsuit or a dispute we may disclose
          information about you in response to a court or administrative order.
          We may also disclose medical information about you in response to a
          subpoena, discovery request, or other legal process.
        </p>
        <br />
        <p>
          <strong>Law Enforcement:</strong>
          Under certain circumstances we may release information about you if
          asked to do so by a law enforcement official:<br />To identify
          suspects, witnesses or missing persons
        </p>
        <br />
        <p>About the victim of a crime</p>
        <br />
        <p>About deaths we believe may be the result of criminal activity</p>
        <br />
        <p>About criminal conduct at any of our offices</p>
        <br />
        <p>
          In an emergency to report a crime, crime victim or the individual who
          committed a crime
        </p>
        <br />
        <p>
          In response to a warrant, summons, court order, subpoena, or similar
          legal process
        </p>
        <br />
        <p>
          <strong>Coroners, Medical Examiners, and Funeral Directors:</strong>
          We may release information to these individuals, for example, to help
          with identification, determination of death causes, or to help them
          perform the duties of their jobs.
        </p>
        <br />
        <p>
          <strong>National Security and Intelligence Activities:</strong>
          If necessary, we will release information about you to federal
          officials for intelligence, counter intelligence, or national security
          activities authorized by law.
        </p>
        <br />
        <p>
          <strong>Protective Services for the President and Others:</strong>
          We will release information about you to authorized federal officials
          so that they may provide protection to the President of the United
          States, other authorized individuals, or foreign heads of state. We
          also may provide information about you to assist in carrying out an
          investigation.
        </p>
        <br />
        <p>
          <strong>Inmates:</strong>
          If you are an inmate of a correctional facility we will release
          information about you to the correctional institution or law
          enforcement official.
        </p>
        <br />
        <p>
          <strong>Worker's Compensation:</strong>
          Our practice may release your individually identifiable health
          information for worker's compensation or other similar programs.
        </p>
        <br />
        <h6 class="font-bold my-5 text-lg">
          YOUR RIGHTS REGARDING MEDICAL INFORMATION ABOUT YOU
        </h6>
        <p>
          <strong>Right to Inspect and Copy:</strong>
          You have the right to review and copy the information that we have
          used to make medical decisions about your care. This means that we
          will give you access to medical and billing information, but does not
          necessarily include access to any psychotherapy notes that we may
          possess. We reserve the right to have a staff member with you during
          your review. To inspect and/or obtain a copy of information in our
          records you must submit your request in writing to the manager of the
          office in which your records are maintained 30 (thirty) days in
          advance. If you request a copy of the record, we will charge you a fee
          for the costs of copying, mailing and other supplies involved in the
          request.
        </p>
        <br />
        <p>
          In certain circumstances we may deny your request to inspect and copy
          information from your records. If you are denied access to medical
          information, you may request that the denial be reviewed. Another
          licensed health care professional chosen by Beckett Ridge Family
          Medicine will review the denial. This will not be the individual who
          initially denied your request. Beckett Ridge Family Medicine will
          abide by the decision of the reviewer.
        </p>
        <br />
        <p>
          <strong>Right to Amend:</strong>
          You may ask to add an amendment to the information we maintain about
          you if you feel that the record is incorrect or incomplete. To request
          an amendment, your request must be submitted in writing to the manager
          of the office in which your records are maintained. You must include a
          reason that supports your request. The request will be reviewed and a
          decision made within 30-days and you will be notified of the decision.
        </p>
        <br />
        <p>
          We may deny your request for an amendment if it is not in writing or
          does not include reason that supports the request. We may also deny
          any request for amendment of your PHI or ePHI if the information was
          not created by us (unless the originator of the information is no
          longer available to act on your request); is not part of the
          designated record set maintained by us; is not part of the information
          to which you have a right of access; or is already accurate and
          complete, as determined by us. If we deny your request for an
          amendment, we will give you a written denial including the reasons for
          the denial and the right to submit a written statement disagreeing
          with the denial.
        </p>
        <br />
        <p>
          <strong>Right to Accounting of Disclosures:</strong>
          You have the right to request a list of the disclosures of your
          medical record that we have made. An “accounting of disclosures” is a
          list of non-routine disclosures our practice has made of your
          individually identifiable health information for non-treatment or
          operations purposes. The routine use and disclosures permitted by the
          Health Information Portability and Accountability Act is not required
          to be documented. For example, a provider discussing your case with a
          nurse or the billing office submitting a claim in not required to be
          documented. This list will include only disclosures that we have made
          in writing, and specifically will not include any disclosures made in
          conversations regarding your treatment, payment, or other health care
          operations.
        </p>
        <br />
        <p>
          To request this accounting you must submit your request, in writing,
          to the manager of the office in which your records are maintained.
          Your request must state a time period for accounting that may not be
          longer than six years, and may not include dates before Apri1 14,
          2003. The first list that you request within a 12-month period will be
          free. There may be a charge for any other requested lists within 12
          months.
        </p>
        <br />
        <p>
          <strong>Right to Request Restrictions:</strong>
          You have the right to request restrictions on the information that we
          disclose about you for treatment, payment or health care procedures.
          You also have the right to request a limit on the medical information
          we disclose about you to someone involved in your care or the payment
          for your care. For example, you could request that we not use or
          disclose information regarding a treatment or surgery that you had.<br />To
          request restrictions on use of your information, you must make your
          request in writing to the manager of the office where you are being
          treated. In your request you must tell us: A) What information you
          want to limit; B) Whether you want to limit our use, disclosure, or
          both; and C) To whom you want the limitations to apply, for example
          disclosures to your spouse or children. We reserve the right to review
          the request for up to 30 (thirty) days before making a decision. We
          may utilize one extension of not more than 30 (thirty) days for the
          decision process.
        </p>
        <br />
        <p>
          We are not required to agree to your request. If we do agree however
          we will comply with your request unless the information is required to
          treat you in an emergency.
        </p>
        <br />
        <p>
          <strong>Your Right to Request Confidential Communication:</strong>
          You have the right to request that we communicate with you about
          medical matters in a certain way or at a certain location. For
          example, you can ask that we only contact you at work or by mail. To
          request confidential communications, you must make your request in
          writing to the manager of the office where you are being treated. You
          are not required to tell us the reason for your request. We will
          accommodate all reasonable requests. Your request must specify how or
          where you want to be contacted.
        </p>
        <br />
        <p>
          <strong>Rights Regarding Out-of-pocket Payment:</strong>
          You may also request a restriction on disclosure of protected health
          information to a health plan for purpose of payment or healthcare
          operations if you paid for the services out of your own pocket, in
          full. This does not apply to services that are covered by insurance.
          You are required to pay cash, in full, for the services before the
          restriction applies.
        </p>
        <br />
        <p>
          Right to Request Electronic Protected Health Information (ePHI): With
          respect to ePHI, we agree to give you your ePHI in the form and format
          requested by you, if it is readily producible in that form or format.
          If it is not readily producible in the form or format requested, we
          will give you a readable hard copy form. Any directive given to us by
          you to transmit ePHI must be done in writing by you, signed and
          clearly identify the designated person and location to send the ePHI.
          We will provide you access to your PHI or ePHI within thirty (30) days
          from the date of request.
        </p>
        <br />
        <p>
          <strong>Right to Request a Paper Copy of this Notice:</strong>
          You have the right to a paper copy of this notice. You may ask us to
          give you a copy of this notice at any time. Even if you have reviewed
          a copy of this notice electronically you are entitled to a paper copy.
          To obtain a paper copy of this notice make your request at the front
          desk of any office or at our billing office and it will be provided to
          you free of charge.
        </p>
        <br />
        <p>
          <strong>Right to Breach Notification:</strong>
          You have the right to receive notification from us if any breach of
          your unsecured protected health information occurs.
        </p>
        <br />
        <h6 class="font-bold my-5 text-lg">CHANGES TO THIS NOTICE</h6>
        <p>
          We reserve the right to change this notice. We reserve the right to
          make the revised or changed notice effective for medical information
          we already have about you as well as any information that we may
          gather in the future. We will post a copy of this notice in our
          office. The notice will contain an effective date on the first page.
        </p>
        <br />
        <h6 class="font-bold my-5 text-lg">COMPLAINTS</h6>
        <p>
          If you believe that your privacy rights have been violated, you may
          file a complaint with this practice or with Beckett Ridge Family
          Medicine. To file a complaint with Beckett Ridge Family Medicine,
          contact: Beckett Ridge Family Medicine, 4870 Wunnenberg Way, West
          Chester, Ohio 45069. All complaints must be submitted in writing. You
          will not be penalized for filing a complaint. This Notice of Privacy
          Practices shall not be construed as a contract or legally binding
          agreement. Any non-compliance with any provision of this Notice shall
          not be construed as a breach of contract, breach of confidentiality,
          invasion of privacy, misappropriation of name or likeness, violation
          of any consumer protection law, negligence or violation of any state
          law. By signing the Acknowledgment of Receipt of this Notice, you
          agree that the sole legal recourse for our non-compliance with this
          Notice is to file a written complaint to the Secretary of the U.S.
          Department of Health and Human Services, and that no complaint or
          cause of action may be filed in any federal or state court for breach
          of contract, breach of confidentiality, invasion of privacy,
          misappropriation of name or likeness, violation of any consumer
          protection law, negligence or violation of any state law, or under any
          tort theory.
        </p>
        <br />
        <h6 class="font-bold my-5 text-lg">
          OTHER USES OF MEDICAL INFORMATION
        </h6>
        <p>
          Other uses and disclosures of medical information not covered by this
          notice or the laws that apply to us will be made only with your
          written permission. If you provide us with permission to use or
          disclose information about you, you may revoke that permission, in
          writing, at any time. You understand that we are unable to “take back”
          any disclosures that we have already made with your permission and
          that we are required to keep any records of the care that we provided
          to you.
        </p>
        <br />
        <p class="">Effective Date: April 14, 2003</p>
        <br />
      </section>
    </main>
    {{template "components/footer.html"}}
  </body>
  <script src="/static/js/index-post-load.js"></script>
</html>
