<!DOCTYPE html>
<html lang="en" class="bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Appointment - Beckett Ridge Family Medicine</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/static/css/output.css" />
    <script src="/static/js/index-pre-load.js"></script>
  </head>
  <body class="relative">
    {{ template "components/navbar.html" . }}
    <main>
      <section class="mt-24 flex flex-col gap-10 items-center pb-12 px-6">
        <div
          style="background-image: url('/static/images/appt_pic.jpeg')"
          class="relative w-full bg-dark min-h-72 rounded-b-lg text-center text-4xl text-white tracking-widest flex items-center justify-center bg-cover bg-center"
        >
          <div
            class="absolute bottom-0 top-0 left-0 right-0 opacity-75 bg-dark"
          ></div>
          <h1 class="z-10">Request Appointment</h1>
        </div>
        <div
          class="w-full md:w-[80%] flex flex-col justify-center items-center"
        >
          <div class="flex gap-6 justify-center items-center flex-wrap">
            <div
              class="w-20 h-20 hover:scale-110 transition-transform duration-500 flex-none"
            >
              {{template "components/mobile_phone_button.html"}}
            </div>
            <div
              class="flex flex-col gap-1 text-center sm:text-start text-nowrap"
            >
              <span class="text-3xl">Call us today!</span>
              <span class="text-xl">(513) 860-4600</span>
            </div>
          </div>
          <div class="w-[80%] flex my-10 items-center justify-center">
            <hr class="w-full h-1 mr-2 bg-lightgray rounded-full border-none" />
            OR
            <hr class="w-full h-1 ml-2 bg-lightgray rounded-full border-none" />
          </div>
          <h2 class="text-3xl text-center">Send Request for Appointment</h2>
          <form
            id="request-form"
            class="w-full max-w-[40rem] p-6 md:p-16 rounded-xl bg-offwhite mt-10 flex flex-col gap-2"
          >
            <div class="my-2">
              <div
                class="input-wrapper mb-1 border mx-auto w-full justify-center flex items-center rounded-md shadow-md text-dark"
              >
                <div>
                  <div
                    class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-dark"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                      />
                    </svg>
                  </div>
                </div>

                <div class="w-full">
                  <input
                    id="full-name"
                    name="full-name"
                    class="w-full h-12 px-4 py-1 rounded-r-md text-gray-800"
                    placeholder="Full Name"
                    aria-label="Full name"
                  />
                </div>
              </div>
            </div>
            <div class="my-2">
              <div
                class="input-wrapper border mx-auto w-full justify-center flex items-center rounded-md shadow-md text-dark"
              >
                <div>
                  <div
                    class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-dark"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                      />
                    </svg>
                  </div>
                </div>

                <div class="w-full">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    class="w-full h-12 px-4 py-1 rounded-r-md text-gray-800"
                    placeholder="Email Address"
                    aria-label="Email address"
                  />
                </div>
              </div>
            </div>
            <div class="my-2">
              <div
                class="input-wrapper border mx-auto w-full justify-center flex items-center rounded-md shadow-md text-dark"
              >
                <div>
                  <div
                    class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-dark"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
                      />
                    </svg>
                  </div>
                </div>

                <div class="w-full">
                  <input
                    id="phone"
                    name="phone"
                    type="tel"
                    class="w-full h-12 px-4 py-1 rounded-r-md text-gray-800"
                    placeholder="Phone Number"
                    aria-label="Phone number"
                    maxlength="10"
                  />
                </div>
              </div>
            </div>
            <textarea
              id="reason-for-appointment"
              name="text"
              class="w-full min-h-40 rounded p-4 border"
              placeholder="How we can serve your health?"
            ></textarea>
            <button
              type="submit"
              class="bg-primary text-white w-full rounded p-4 mt-5 hover:bg-secondary transition-colors duration-300"
            >
              Submit
            </button>
          </form>
        </div>
      </section>
      <div data-modal-target></div>
    </main>
    {{template "components/footer.html"}}
  </body>
  <script src="/static/js/index-post-load.js"></script>
  <script src="/static/js/request-appointment.js"></script>
</html>
