<div
  class="rounded-xl w-60 min-h-52 flex flex-col justify-center items-center gap-4 p-4 text-center text-white border-2 border-dark"
>
  <h4 class="text-xl">{{.Title}}</h4>
  <!-- <a href="{{.Slug}}" class="flex gap-2 items-center">
    <span class="text-lg">Learn more</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
      />
    </svg>
  </a> -->
</div>
